body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold", sans-serif;
}

p {
  font-family: "Montserrat-Bold", sans-serif;
}

.big-heading {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 5rem;
  line-height: 1.0;
}

.section-heading {
  font-size: 3rem;
  color: Black;
}

.section-heading-white {
  font-size: 3rem;
  color: black;
  padding-top: 5%;
  ;
}

.section-heading-colored {
  font-size: 3rem;
  color: white;
}

.container-fluid {
  padding: 7% 15%;
}

.colored-section {
  background-color: #66A1EE;
}

.white-section {
  background-color: #fff;
}

/*Navitagtion Bar*/
.navbar {
  padding-bottom: 0 0 4.5rem;
  paddig-bott;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light", sans-serif;
}

/*Download Buttons*/
.download-button {
  margin: 5% 3% 5% 0;
}

#title {
  background-color: #66A1EE;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.title-image {
  width: 55%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

#features {
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-big-title {
  font-size: 2.5rem;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #66A1EE;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #66A1EE;
}

#Mexico {
  background-color: #66A1EE;
  padding: 100px;
}

#USA {
  background-color: #fff;
  padding: 100px;
}

#UE {
  background-color: #66A1EE;
  padding: 100px;
}

.USA-text {
  font-size: 3rem;
  line-height: 1.5;
}

.USA-column {
  padding: 3% 2%;
}

.cta-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.p-text-colored {
  color: white;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-widht: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
